# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# FAISS index files
faiss_index/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/